<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginjsp</servlet-name>
		<jsp-file>/LoginFail.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>showjsp</servlet-name>
		<jsp-file>/ShowEmployee.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDataServlet</servlet-name>
		<display-name>EmployeeDataServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.emp.servlet.EmployeeDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeListDisplayServlet</servlet-name>
		<display-name>EmployeeListDisplayServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.emp.servlet.EmployeeListDisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
  <servlet-name>dispatcher</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDataServlet</servlet-name>
		<url-pattern>/EmployeeDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginjsp</servlet-name>
		<url-pattern>/loginfail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showjsp</servlet-name>
		<url-pattern>/showemp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeListDisplayServlet</servlet-name>
		<url-pattern>/emplist</url-pattern>
	</servlet-mapping>
	<session-config>
		<!-- Time is min -->
		<session-timeout>5</session-timeout>
	</session-config>
</web-app>
